html {
    font-size: 15px;
}
body {
    background: #f9f9f9;    
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    letter-spacing: .5px;
}

/* Navigation System */
ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    list-style-type: none;
    text-align: center;
    justify-content: center;
    font-size: 1.067rem;
}
ul.nav_pane {
    background-color: #000429;
    height: 62.5px;
}
.nav-system {
    margin-top: 22px;
    margin-right: 20px;
    padding-right: 16px;
    font-weight: 250;
    &:hover {font-weight: 20;}
}
a {
    text-decoration: none;
}
/* hambuger menu */
.off-screen-menu {
    background-color: #000429;
    height: 100vh;
    width: 50%;
    max-width: 450px;
    position: fixed;
    top: 0;
    right: -450px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;    
    justify-content: center;
    text-align: center;
    font-size: 3rem;
    transition: .3s ease;
}
.off-screen-menu.active {
    right: 0;
}
nav.mobile {
    padding: 1rem;
    background-color: #000429;
}
ul.ham {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    background-color: #000429;
}
li.mobilelist {
    display: flex;
    flex-direction: column;
}
.ham-menu {
    height: 50px;
    width: 100%;
    max-width: 40px;
    margin-left: auto;
    position: relative;
}
.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: white;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}
.ham-menu span:nth-child(1) {
    top: 25%;
}
.ham-menu span:nth-child(3) {
    top: 75%;
}
.ham-menu.active span {
    background-color: white;
}
.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.ham-menu.active span:nth-child(2) {
    opacity: 0;
}
.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

/* Header Section */
header {
    height: 275px;
    padding: 0;
}
.law_logo {
    background-image: url("images/logo.png");
    background-size: min(600px, 55%);
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -99999999999999999px;
    height: 250px;
}
.title {
    height: 50px;
    text-align: center;
    margin-top: min(-25px);
    font-weight: 400;
    font-size: 1.667rem;
}

/* Body Section */ 
.feature-box {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.btn1, .btn2 {
    position: relative;
    border: 1px solid black;
    color: black;
    font-weight: 450;
    font-size: 1rem;
    border-radius: 35px;
    padding: 20px 35px;
    transition: color 0.15s linear;
    overflow: hidden;
}
/* Transition for button */
.btn1::before, .btn2::before{
    content: '';
    position: absolute;
    left: 0;
    right: -50px;
    top: 0;
    border-right: 50px solid transparent;
    border-bottom: 100px solid black;
    transform: translateX(-100%);
    transition: transform .15s linear;
    z-index: -1;
}
.btn1:hover::before, .btn2:hover::before{
    transform: translateX(0);
}
.btn1:hover, .btn2:hover {
    color: white;
}

.images {
    background-color: #000429;
    width: 100%;
    max-width: 640px;
    padding: 8px;
}
.images.est_fig, .images.prob_fig, .images.inj_fig, .images.real_fig {
    width: 60vh;
    margin-left: -8%;
}
.meet_fig, .prof_fig {
    width: 80vh;
    margin-left: 0;
}
.off_fig {
    width: 78vh; margin-left: 8%;
}
.images.mon_house {
    width: 85vh; margin-left: 0;
}
.images.sched_msg {
    width: 82.5vh; margin-left: 7.5%;
}

.special {
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    line-height: 20px;
    height: 75px;
    margin-left: 29%;
    font-size: 1.133rem;
}
.feature-box.text {
    flex-direction: column;
    margin-left: 12%;
    width: min(1200px, 75%);
    line-height: 25px;
}
.feature-box.label {
    padding-top: 40px;
    font-size: 1.667rem;
    font-weight: 300;
}
.feature-box.label.con_us {
    font-size: 2rem;
}
hr.lines{
    width: var(--x);
    color: black;
    margin-top: auto;
}
.lines.left {
    margin-left: 12%;
    justify-content: left;
}
.lines.right {
    margin-right: 12%;
    justify-content: right;
}
.feature-box.info_ticket {
    margin-left: 36.5%;
    width: 60vh;
    line-height: 25px;
}

.att_div {
    margin-top: 25%;
}
.client_div {
    margin-top: 60%;
}
.rts_div, .call_div {
    margin-top: 20%;
}
.hrs_div{
    margin-top: 15%;
}
.msg_div {
    margin-top: 40%;
}
.Larry_div {
    margin-top: 10%;
}
h1 {
    font-size: 1.133rem;
    line-height: 35px;
    font-weight: 500;
}
.para_desc {
    width: 80vh;
    font-size: 1.2rem;
    font-weight: 300;
}
.desc_2 {
    width: 85vh;
    font-size: 1.2rem;
    font-weight: 300;
}
hr.els_space {
    height: var(--y);
    margin: 15px;
    padding: 5px;
}
.p_els {
    width: 65vh;
}

/* Reviews Section */
.feature-box.reviews {
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("images/handshake.jpg");
    image-rendering: crisp-edges;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(41, 41, 41, 0.204);
    position: relative;
    height: 750px;
    text-align: center;
}
.review_title {
    font-family: 'Sacramento', sans-serif;
    color: white;
    font-size: 60px;
    font-weight: 300;
    margin-top: 5%;
}
.percent {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    font-family: 'Raleway', sans-serif;
    font-size: 1.4667rem;
    letter-spacing: 0;
    height: auto;
    justify-content: center;
    text-align: left;
}
.review_num {
    flex-direction: column;
}
.review_num.logo {
    position: relative;
    width: 80px;
    margin-top: -15px;
}
    /*Swiper Functions*/
.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.slide-container {
    max-width: 1120px;
    width: 75%;
}
.slide-content {
    overflow: hidden;
    margin: 0 40px;
}
.card {
    border-radius: 10px;
    background-color: white;
}
.image-content, .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.image-content {
    position: relative;
    row-gap: 5px;
    border-radius: 25px 25px 0 25px;
}
.card-image {
    position: relative;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}
.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #4070f4;
}
.recommend {
    font-size: 1.2rem;
    font-weight: 500;
    color: black;
}
.description {
    width: 75%;
    font-size: 1.2rem;
    color: black;
    text-align: center;
}
.review-button {
    font-family: 'Raleway', sans-serif;
    border: none;
    font-size: 1.133rem;
    color: black;
    padding: 4px 16px;
    border-radius: 6px;
    margin: 0 14px;
    transition: all 0.3s ease;
    &:hover {
        color: rgb(0, 136, 255);
    }
}
.img_arrow {
    align-items: center;
    justify-content: center;
    font-size: 1.533rem;
    font-weight: 300;
}
.name {
    font-weight: 525;
    font-size: 1rem;
}
.date {
    font-weight: 400;
}

/*FAQ Dropdowns*/
.faq {
    max-width: 700px;
    margin-top: 5px;
    border-bottom: 2px solid #e6e6e6;
    cursor: pointer;
}
.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h3 {
    max-width: 650px;
    font-weight: 400;
}
.answer {
    max-height: 0;
    overflow: hidden;
}
.answer p {
    padding-top: 1rem;
    line-height: 1.6;
}
.faq.active .answer {
    max-height: 300px;
}
.faq.active svg {
    transform: rotate(180deg);
}

/* Contact Info */

.ending {
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    display: flex;
    flex-direction: column;
}

/* Contact Form */
form {
    margin-top: 50px;
}
.form-control {
    font-family: 'Raleway', sans-serif;
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 1.2rem;
    margin-bottom: 16px;
}
input {
    height: 45px;
}
button {
    background: transparent;
    cursor: pointer;
}

/* Footer Section */
footer {
    background: #f9f9f9;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    margin-left: -2px;
    height: auto;
}
.socials {
    justify-content: center;
}
.icon_link {
    margin-left: -25px;
}
.icon a {
    display: inline-block;
    position: relative;
    text-indent: -99999999999999999px;
    padding: 0 28px;
    height: 45px;
}
.icon.FB {
    background-image: url("images/fb.png");
    background-size: 45px;
    background-repeat: no-repeat;
}
.icon.Yelp {
    background-image: url("images/yelp.png");
    background-size: 30px;
    background-repeat: no-repeat;
}
.copyright {
    color: rgb(59, 59, 59);
    font-size: 1rem;
    text-align: center;
    margin: 0 auto;
    width: min(1200px, 72%);
    line-height: 22px;
    padding-bottom: 20px;
}
.void {
    height: 300px;
    border-bottom: 2px solid rgb(228, 228, 228);
}

/* Responsive Rules */
.mobile {
    display: none;
}
.container.brief {
    display: none;
}
.mobile_display {
    display: none;
}
@media screen and (max-width: 1536px) {
    html {
        font-size: 14px;
    }
}
@media screen and (max-width: 1345px) {
    /*Index*/
    .meet_fig, .prof_fig {
        width: 70vh;
    }
    .off_fig {
        width: 68vh;
    }
    .images.mon_house {
        width: 75vh;
    }
    .images.sched_msg {
        width: 72.5vh;
    }
    .para_desc {
        width: 70vh;
    }
    .desc_2 {
        width: 75vh;
    }
    .att_div {
        margin-top: 20%;
    }
    .client_div {
        margin-top: 55%;
    }
    .rts_div {
        margin-top: 15%;
    }
    .call_div {
        margin-top: 25%;
    }
    .hrs_div{
        margin-top: 5%;
    }
    .msg_div {
        margin-top: 35%;
    }
    .Larry_div {
        margin-top: 0;
    }
    .prof_fig {
        margin-top: 13.5%;
    }
}
@media screen and (max-width: 1235px) {
    .meet_fig, .prof_fig {
        width: 65vh;
        margin-left: -8.5%;
    }
    .off_fig {
        width: 63vh;
    }
    .images.mon_house {
        width: 70vh;
    }
    .images.sched_msg {
        width: 67.5vh;
    }
    .para_desc {
        width: 65vh;
    }
    .desc_2 {
        width: 70vh;
    } 
}
@media screen and (max-width: 1180px) {
    .meet_fig, .prof_fig {
        width: 60vh;
        margin-left: -15%;
    }
    .off_fig {
        width: 58vh;
        margin-left: 25%;
    }
    .images.mon_house {
        width: 60vh;
        margin-left: -15%;
    }
    .images.sched_msg {
        width: 62.5vh;
    }
    .para_desc {
        width: 55vh;
    }
    .desc_2 {
        width: 55vh;
    }
    .images.est_fig, .images.prob_fig, .images.inj_fig, .images.real_fig {
        width: 50vh;
        margin-left: -15%;
    }
    .p_els, .h_els {
        width: 55vh;
        margin-left: -4%;
    }
    .att_div {
        margin-top: 15%;
        margin-right: -15%;
    }
    .client_div {
        margin-left: -25%;
        margin-top: 30%;
    }
    .hrs_div, .msg_div {
        margin-left: -12.5%;
    }
    .hrs_div {
        margin-top: -5%;
    }
    .msg_div {
        margin-top: 25%;
    }
    .call_div {
        margin-top: 10%;
    }
    .rts_div {
        margin-top: 3%;
    }
}
@media screen and (max-width: 1127px) {
    .feature-box.label {
        font-size: 1.5rem;
    }
    h1 {
       font-size: 1rem; 
    }
}
@media screen and (max-width: 1100px) {
    html {
        font-size: 13px;
        font-weight: 300;
    }
}
@media screen and (max-width: 1041px) {
    .meet_fig, .prof_fig {
        width: 55vh;
        margin-left: -15%;
    }
    .off_fig {
        width: 53vh;
        margin-left: 25%;
    }
    .images.mon_house {
        width: 55vh;
        margin-left: -15%;
    }
    .images.sched_msg {
        width: 57.5vh;
    }
    .para_desc {
        width: 50vh;
    }
    .desc_2 {
        width: 50vh;
    }
    .images.est_fig, .images.prob_fig, .images.inj_fig, .images.real_fig {
        width: 45vh;
        margin-left: -15%;
    }
    .p_els, .h_els {
        width: 50vh;
        margin-left: -4%;
    }  
}
@media screen and (max-width: 1024px) {
    nav.desktop {
        display: none;
    }
    nav.mobile {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 1014px) {
    .feature-box.label.wcml {
        letter-spacing: -.5px;
    }
}
@media screen and (max-width: 988px) {
    .meet_fig, .prof_fig {
        width: 50vh;
        margin-left: -25%;
    }
    .off_fig {
        width: 48vh;
        margin-left: 15%;
    }
    .images.mon_house {
        width: 50vh;
        margin-left: -25%;
    }
    .images.sched_msg {
        width: 52.5vh;
    }
    .para_desc {
        margin-left: -10%;
    }
    .desc_2 {
        margin-left: -15%;
    }
    .h_wcml1 {
        margin-left: -10%;
    }
    .h_wcml2 {
        margin-left: -15%;
    }
    .feature-box.reviews {
        height: 600px;
    }
    .percent {
        display: none;
    }
    .container {
        padding-top: 20px;
    }
    .copyright {
        width: 70%;
    }
    .feature-box.label.els {
        letter-spacing: -.5px;
    }
    hr.els_space {
        margin: 5px;
    }
    .h_els, .p_els {
        margin-left: -8%;
    }
    .images.est_fig, .images.inj_fig, .images.prob_fig, .images.real_fig {
        margin-left: -22%;
    }
}

@media screen and (max-width: 973px) {
    hr.els_space {
        size: 10;
    }
    .images.est_fig, .images.inj_fig, .images.prob_fig, .images.real_fig {
        width: 120%;
        margin-left: -42%;
    }
    .h_els, .p_els {
        width: 50vh;
        margin-left: -20%;
    }
    hr.els_space {
        margin: 0px;
        padding: 25px;
        size: 15;
    }
    html {
        font-size: 12px;
    }
    .off_fig {
        margin-left: 12%;
    }
    .images.sched_msg {
        margin-left: -5%;
    }
}

@media screen and (max-width: 932px) {
    .feature-box.reviews {
        height: 500px;
    }
    .meet_fig {
        margin-left: 5%;
    }
    .off_fig {
        width: 40vh;
        margin-left: 25%;
    }
    .images.mon_house {
        margin-left: 5%;
    }
    .images.sched_msg {
        width: 45vh;
        margin-left: 15%;
    }
    .desc_2.left, .h_wcml2 {
        margin-left: 5%;
    }
    .para_desc.left, .h_wcml1.left {
        margin-left: 5%;
    }
    .para_desc, .h_wcml1 {
        margin-left: 7.5%;
    }
    .para_desc.right, .h_wcml1.right {
        margin-left: 20%;
    }
    .prof_fig {
        margin-left: -25%;
        margin-top: 50%;
    }
    .Larry_div {
        margin-left: -12%;
    }
    .container.long {
        display: none;
    }
    .container.brief {
        display: flex;
        flex-direction: row;
    }
    html {
        letter-spacing: -.5px;
    }
    .feature-box.info_ticket.wcml {
        width: 25%;
    }
}

@media screen and (max-width: 896px) {
    hr.els_space {
        padding: 8px;
    }
    .feature-box.info_ticket.moa {
        width: 25%;
    }
    .prof_fig {
        margin-left: 7%;
    }
    .Larry_div {
        margin-left: 5%;
    }
}

@media screen and (max-width: 865px) {
    .desk_display {
        display: none;
    }
    .mobile_display {
        display: inline-block;
    }
    .feature-box.info_ticket {
        display: inline-block;
        justify-content: center;
        align-items: center;
    }
    html {
        font-size: 14px;
        max-width: 865px;
    }
    .lines.left {
        margin-left: 5%;
    }
    .lines.right {
        margin-right: 5%
    }
    .feature-box.label.els {
        text-align: center;
    }
    .feature-box.info_ticket.els {
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
    .images.est_fig, .images.prob_fig, .images.inj_fig, .images.real_fig {
        width: 672px;
        margin-left: 15%;
        justify-content: center;
        align-items: center;
    }
    .h_els, .p_els {
        margin-left: 18.5%;
        width: 672px
    }
    .meet_fig {
        margin-left: 5%;
    }
    .off_fig {
        width: 40vh;
        margin-left: 25%;
    }
    .images.mon_house {
        margin-left: 5%;
    }
    .images.sched_msg {
        width: 45vh;
        margin-left: 15%;
    }
    .desc_2.left, .h_wcml2 {
        margin-left: 5%;
    }
    .para_desc.left, .h_wcml1.left {
        margin-left: 5%;
    }
    .para_desc, .h_wcml1 {
        margin-left: 7.5%;
    }
    .para_desc.right, .h_wcml1.right {
        margin-left: 20%;
    }
    .feature-box.info_ticket.moa, .feature-box.label.moa, .feature-box.info_ticket.wcml, .feature-box.label.wcml {
        display: none;
    }
    .feature-box.reviews {
        width: 865px;
    }
}